{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>{{ page_title }}</h1>
        <div>
            {# Ce bouton mènera au formulaire de création que nous ferons ensuite #}
            <a href="{% url 'clients:client_create' %}" class="btn btn-primary">Ajouter un client</a>
        </div>
    </div>

    {% if clients_list %}
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead class="table-light">
                            <tr>
                                <th>Nom du Client</th>
                                <th>Email</th>
                                <th>Téléphone</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients_list %}
                                <tr>
                                    <td>{{ client.nom }}</td>
                                    <td>{{ client.email|default:"-" }}</td>
                                    <td>{{ client.telephone|default:"-" }}</td>
                                    <td class="text-center">
                                        {# Ces boutons seront fonctionnels plus tard #}
                                        <a href="{% url 'clients:client_update' client.id %}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                                        <a href="{% url 'clients:client_delete' client.id %}" class="btn btn-sm btn-outline-danger">Supprimer</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Vous n'avez pas encore de client. <a href="#" class="alert-link">Commencez par en ajouter un !</a>
        </div>
    {% endif %}
{% endblock %}