{% extends 'base.html' %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ page_title }}</h1>

    <div class="card">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}

                {# form.as_p affichera chaque champ dans un paragraphe. #}
                {# Comme nous avons mis les classes 'form-control' dans le widget du formulaire, le style sera correct. #}
                {{ form.as_p }}

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">Sauvegarder</button>
                    <a href="{% url 'clients:client_list' %}" class="btn btn-secondary">Annuler</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}